<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th>Barcode</th>
      <th>Price</th>
      <th>Producer</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for product <- @page.entries do %>
        <tr>
          <td><%= product.name %></td>
          <td><img src="<%= product.photo_url %>" /></td>
          <td><%= product.barcode %></td>
          <td><%= product.price %></td>
          <td><%= product.producer %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<nav class="pagination">
  <%= if @page.page_number == 1 do %>
    <a class="button" disabled><<</a>
  <% else %>
    <%= link("<<", to: Routes.product_url(@conn, :index, page: @page.page_number-1, page_size: @page.page_size), class: "button")%>
  <% end %>

  <%= if @page.page_number == @page.total_pages do %>
    <a class="button" disabled>>></a>
  <% else %>
    <%= link(">>", to: Routes.product_url(@conn, :index, page: @page.page_number+1, page_size: @page.page_size), class: "button")%>
  <% end %>
</nav>
